<div class="container">
    <div class="submit-form">
      <div *ngIf="!submitted">

        <h4>Party</h4><p></p>

        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="dob" required [(ngModel)]="party.isorg">
          <label class="form-check-label" for="isorg">Is an Organisation</label>
        </div>

        <div class="form-group">
          <label for="orgname">Organisation name</label>
          <input
            type="text"
            class="form-control"
            id="orgname"
            required
            [(ngModel)]="party.orgname"
            name="orgname"
          />
        </div>
        <p></p>
        <div class="form-group">
          <label for="firstname">Firstname</label>
          <input
            type="text"
            class="form-control"
            id="firstname"
            required
            [(ngModel)]="party.firstname"
            name="firstname"
          />
        </div>
  
        <div class="form-group">
          <label for="surname">Surname</label>
          <input
            class="form-control"
            id="surname"
            required
            [(ngModel)]="party.surname"
            name="surname"
          />
        </div>

        <div class="form-group">
          <label for="familyname">Familyname</label>
          <input
            type="text"
            class="form-control"
            id="familyname"
            required
            [(ngModel)]="party.familyname"
            name="familyname"
          />
        </div>

        <div class="form-group">
          <label for="dob">Date of Birth</label>
          <input
            type="text"
            class="form-control"
            id="dob"
            required
            [(ngModel)]="party.dob"
            name="dob"
            placeholder="YYYY-MM-DD"
          />
        </div>
  
        <div class="form-group">
          <label for="dob">Image url</label>
          <input
            type="text"
            class="form-control"
            id="imageurl"
            required
            [(ngModel)]="party.imageurl"
            name="imageurl"
          />
        </div>
        <div class="row">
          <div class="col-2  gy-2">
           <button  class="btn btn-info"><a [routerLink]="[ '..','parties' ]">Cancel</a></button>
          </div>
          <div class="col-2  gy-2">
            <button (click)="saveParty()" class="btn btn-success">  Save </button>
          </div>

        </div>
      </div>
  
      <div *ngIf="submitted">
        <h4>Party was submitted successfully!</h4>
        <button  class="btn btn-info"><a [routerLink]="[ '..','parties' ]">Cancel</a></button>
        <button class="btn btn-success" (click)="newParty()">Add Another</button>
        
      </div>
    </div>
  </div>
