<div class=".container .translate-middle">
  <div class="row">
    <div class="col-sm">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Search by firstname"
          [(ngModel)]="firstname"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchFirstname()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Search by surname"
          [(ngModel)]="surname"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchSurname()"
          >
            Search
          </button>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Search by Organisation name"
          [(ngModel)]="orgname"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchOrgname()"
          >
            Search
          </button>
        </div>
      </div>
    </div>

    <div class="row gx-6">
      <div class="col-sm-5">
        <div class="p-2 border bg-light">
          <pagination-controls
            previousLabel="Prev"
            nextLabel="Next"
            [responsive]="true"
            (pageChange)="handlePageChange($event)"
          ></pagination-controls>
        </div>
      </div>
      <div class="col-sm-7">
        <div class="p-3 border bg-light">Items per Page: 
          <select (change)="handlePageSizeChange($event)">
            <option *ngFor="let size of pageSizes" [ngValue]="size">
             {{ size }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class=".container">
      <div>
        <div class="d-grid gap-2" >
          <div class="p-2 bg-light border">
            <div class="row gy-2">
              <div class="col mb-4">
                <h4>Parties List</h4>
              </div>
              <div class="col mb-4">
                <button  class="btn btn-primary " [routerLink]="[ '..','add' ]">Add</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7">
          <ul class="list-group">
            <div  class="list-group-item"
                *ngFor="let party of parties | paginate : {
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: count
                }; let i = index"
                [class.active]="i == currentIndex"
                (click)="setActiveParty(party, i)"> 
              <div class="card-horizontal">
                <div>
                  <img class="card-image-left" src="{{party.imageurl}}"
                  style="width: 150px">
                </div>
                <div class="card-body">

                  <div class="card-header">
                    <h5>
                    {{ party.isorg ? "Organisation:" : "Person:" }}
                    <a *ngIf="!party.isorg"> {{ party.firstname }} {{ party.surname }}</a>
                    <a *ngIf="party.isorg"> {{ party.orgname }}</a>
                    </h5>
                  </div>
                  <div><a>Id:  </a><a>{{ party.id }}</a><p></p></div>
                  <p>Date of Birth: {{ party.dob }}</p>
                </div>
              </div>
            </div>
          </ul>
        </div>
        <div class="col-sm-5">
          <app-party-details
            [viewMode]="true"
            [currentParty]="currentParty"
          ></app-party-details>
        </div>
      </div>  
    </div>
  </div>
</div>
