<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by firstname"
        [(ngModel)]="firstname"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchFirstname()"
        >
          Search
        </button>
      </div>
    </div>
  </div>

  <div class="container-xxl">
    <h4>Parties List</h4>
    <button  class="btn btn-info"><a [routerLink]="[ '..','add' ]">Add</a></button>
    <div class="row">
  
      <div class="col">
        <ul class="list-group">
          <div  class="list-group-item"
              *ngFor="let party of parties; let i = index"
              [class.active]="i == currentIndex"
              (click)="setActiveParty(party, i)"> 
            <div class="card-horizontal">
              <div>
                <img class="card-img-top" src="{{party.imageurl}}"
                width="150" height="150">
              </div>
              <div class="card-body">

                <div class="card-header">
                  <h5>
                  {{ party.isorg ? "Organisation:" : "Person:" }}
                  <a *ngIf="!party.isorg"> {{ party.firstname }} {{ party.surname }}</a>
                  <a *ngIf="party.isorg"> {{ party.orgname }}</a>
                  </h5>
                </div>
                <div><a>Id:  </a><a>{{ party.id }}</a><p></p></div>
                <p>Date of Birth: {{ party.dob }}</p>
              </div>

              <div>
                <a href="#" class="btn btn-danger">Delete</a>
              </div>
            </div>
          </div>
        </ul>
      </div>  
      <div class="col">
        <app-party-details
          [viewMode]="true"
          [currentParty]="currentParty"
        ></app-party-details>
      </div>
  </div>
  </div>

</div>
